<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datalist</title>
</head>

<body>
    <h1>Employee Data</h1>
    <a href="/create">Add New Record</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Position</th>
        </tr>
        {% for i in employees %}
        <tr>
            <td>{{i.employee_id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.position}}</td>
            <td><a href="/update/{{i.employee_id}}/">Update Record</a></td>
            <td><a href="/delete/{{i.employee_id}}/">Delete Record</a></td>
        </tr>
        {% endfor %}
</body>

</html>